* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
.wrap {
    position: relative;
    display: flex;
    width: 75vw;
    height: 75vh;
}

.wrap .cover {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.wrap .cover #background {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,.3);
    overflow: hidden;
}

.wrap .cover #palette {
    width: 100px;
    height: 100%;
    margin-left: 2px;
}

.wrap .cover #palette button {
    width: 60px;
    height: 60px;
    display: block;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}

.wrap .cover #palette button:not(:first-child) {
    margin-top: 5px;
}

.history {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    width: 250px;
    height: 400px;
    border: 1px solid black;
    background: white;
}
.history .title {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    background: black;
    color: white;
    line-height: 40px;
    font-size: 20px;
}

.history .lists {
    height: calc(400px - 40px);
    overflow: scroll;
    overflow-x: hidden;
}
.history .title #undo {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 50%;
    border: 1px solid white;
    transform: translateY(-50%);
    filter: invert(100%);
}

.wrap .cover #btns {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -80px;
}

.wrap .cover #btns button,
.wrap .cover #btns #save {
    width: 120px;
    height: 60px;
    border-radius: 20px;
}

.wrap .cover #btns .file{
    position: absolute;
    color: white;
    right: 0; top: 0;
}
.wrap .cover #btns .file label{
    display: inline-block;
    width: 120px;
    height: 60px;
    background: gray;
    border-radius: 20px;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
}
.wrap .cover #btns .file input {
    display: none;
}